@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap');

:root {
  --text-primary-color: #212121;
  --text-secondary-color: #757575;
  --skyblue-color: #2196f3;
  --background-bodycolor: #f5f4fa;
  --background-headerfooter-color: #2f303a;
  --color-white-100: #fff;
}

body {
  font-family: 'Roboto', sans-serif;
}

.navbar li,
.contact li {
  list-style: none;
}

.navbar li a,
.contact li a {
  text-decoration: none;
}

.skyblue-color {
  color: var(--skyblue-color);
}

.logo {
  text-decoration: none;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--skyblue-color);
  display: block;
}

.item-navbar {
  color: var(--text-primary-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.email {
  color: var(--skyblue-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.02em;
}

.tel,
.tel-portfolio {
  color: var(--text-secondary-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.solutions {
  background-color: var(--background-headerfooter-color);
}
.solutions h1 {
  font-family: roboto;
  color: var(--color-white-100);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}
.solutions button {
  font-family: roboto;
  color: var(--color-white-100);
  background-color: var(--skyblue-color);
  text-align: center;
  width: 261px;
  height: 50px;
}

.legend li {
  list-style: none;
}
.legend .title {
  color: var(--text-primary-color);
  font-family: roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.legend .title-two {
  color: var(--text-secondary-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.legend p {
  font-family: roboto;
  font-size: 14px;
  line-height: 1.72;
  letter-spacing: 0.03em;
}

.our-works h2 {
  font-family: roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.166;
  letter-spacing: 0.03em;
}

.our-works li {
  list-style: none;
}

.teams {
  font-family: roboto;
  background-color: var(--background-bodycolor);
}

.team li {
  list-style: none;
}

.address-contact {
  background-color: var(--background-headerfooter-color);
}

.address-contact li {
  list-style: none;
}

.address-contact a {
  display: block;
  text-decoration: none;
}

.address {
  color: var(--color-white-100);
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.email-footer,
.tel-footer {
  color: var(--text-secondary-color);
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.our-services li {
  list-style: none;
}

.btn-filter {
  background-color: var(--background-bodycolor);
  color: var(--text-primary-color);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: 0.03em;
  border: none;
  cursor: pointer;
}

.filter-one:hover {
  color: var(--color-white-100);
  background-color: var(--skyblue-color);
  cursor: pointer;
}

.card h4 {
  color: var(--text-primary-color);
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
}

.card p {
  color: var(--text-secondary-color);
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
}
